---
name: development

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  qa:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Git Crypt
        run: sudo apt-get install -y git-crypt
      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: "^1.23.2"
      - name: Fix file permissions
        run: sudo chmod 0755 internal/arch/file/expect/test/permissions/0755.txt
      - name: Lint Go files
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.61.0
          args: -v --color=always --config=.rules/.golangci.yml ./...
      - name: Run tests
        run: go test -v -race -covermode=atomic -coverprofile=coverage.out ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
      - name: Build binaries
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "2.4.1"
          args: release --clean --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GO_VERSION: "1.23.2"
